body{
    margin:0;
    padding: 0;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#display{
    width:100%;
    padding:30px;
    background-color:hsl(0, 16%, 15%);
    border:none;
    color:white;
    font-size: 3rem;
    text-align: right;
    box-sizing: border-box;
    outline: none;
    padding-right: 25px;
}
#calculator{
    background-color:hsl(0, 13%, 8%);
    font-family:Arial,sans-serif;
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
}
#keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    padding:25px;
}
button{
    background-color:rgb(52, 58, 67);
    color:white;
    width:100px;
    height:100px;
    padding:15px;
    border:none;
    font-size:3rem;
    border-radius: 50%;
    align-items: center;
    justify-content:center;
    font-weight:bold;
    cursor:pointer;
}
#long{
    width:100%;
    grid-column:span 4;
    border-radius: 20px;
    height: 100px;
    background-color: rgb(224, 104, 0);
}
.yello{
    background-color: rgba(231, 153, 9, 0.956);
}
button:hover{
    background-color:rgb(49, 35, 35);
    box-shadow:0px 0px 2px 4px rgb(181, 40, 40);
}
.yello:hover{
   background-color:rgba(199, 138, 25, 0.956) ;
}
button:active{
    background-color:rgb(232, 193, 193);
    color:white
}